.login{
    width: 100vw;
    height: 100vh;
    background-color:rgb(231, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 130px;
    height: 130px;
    margin-top: -30px;
}
.loginWrapper{
    width: 70%;
    height: 70%;
   display: flex;
}

.loginLeft,.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1b497a;
    margin-bottom: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.loginDesc{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginBox{
    height: 300px;
    width: 500px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;

}

.loginInput:focus{
    outline: none;
}

.loginButton{
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1b497a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}



.loginRegister{
    display: block;
    text-decoration: none;
    background-color: rgb(21, 164, 76);
    color: #e1e3e4; 
    padding: 15px 20px; 
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px; 
    text-align: center;
    
}.loginRegister:hover {
    background-color: #79a588; /* Change background color on hover */
  }

  .log-in{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1b497a;
    font-weight: 700;
    text-align: center;
  }